%br
%h3 Template Fields
%table.index_table.datatable
  %thead
    %tr
      %th
      %th Name
      %th Label
      %th Print Label
      %th Weight
  %tbody
    - TemplateField.non_photos.non_text_areas.each do |template_field|
      %tr
        %td
          = radio_button_tag 'appraisal_column[template_field_id]', template_field.id, template_field.id == f.object.template_field_id, class: 'dynamic_field'
        %td= template_field.name
        %td= template_field.label
        %td= template_field.print_label
        %td= template_field.weight

%br
%br
%br
%h3 Appraisal Fields
%table.index_table.datatable
  %thead
    %tr
      %th
      %th Name
  %tbody
    - %w(number unit name).each do |static_field|
      %tr
        %td
          = radio_button_tag 'appraisal_column[static_field]', static_field, static_field == @appraisal_column.static_field , class: 'static_field'
        %td= static_field

:javascript
  $('input.dynamic_field').click(function(){
    $('input.static_field').prop("checked", false)
  })
  $('input.static_field').click(function(){
      $('input.dynamic_field').prop("checked", false)
    })


