.row
  .col-xs-12
    #wid-id-1.jarviswidget.no-filter{"data-widget-editbutton" => "false"}
      %header.hidden-header
      %div
        .jarviswidget-editbox
        .widget-body.no-padding
          %table#datatable_fixed_column.table.table-striped.table-bordered{:width => "100%"}
            %thead
              %tr
                %th
                %th.hasinput
                  %input.form-control{:placeholder => display_column_header("Filter TA-Number",@columns[0]), :type => "text"}/
                %th.hasinput
                  %input.form-control{:placeholder => display_column_header("Filter Name",@columns[1]) , :type => "text"}/
                %th.hasinput
                  %input.form-control{:placeholder => display_column_header("Filter Customer",@columns[2]), :type => "text"}/
                %th.hasinput
                  %select.form-control
                    %option{value: "any"} Any
                    = options_for_select(Appraisal.status.options)
                %th.hasinput
                  %input.form-control{:placeholder => display_column_header("Filter Unit",@columns[4]), :type => "text"}/
                %th.hasinput
                  %input.form-control{:placeholder => display_column_header("Filter Date Created",@columns[5]) , :type => "text"}/
                %th{:style => "display: none"}
              %tr
                %th
                %th= display_column_header("TA-Number",@columns[0])
                %th= display_column_header("Appraisal Name",@columns[1])
                %th= display_column_header("Customer",@columns[2])
                %th Status
                %th= display_column_header("Unit",@columns[4])
                %th= display_column_header("Date Created",@columns[5])
                %th{:style => "display: none"}
            %tbody
              - appraisals.each do |appraisal|
                %tr
                  %td.hasinput
                    %input.checkboxes{type: "checkbox", name: "appraisal_ids[]", value: "#{appraisal.id}"}
                  %td= link_to display_column_data(@columns[0], appraisal, :number), [@organization, appraisal]
                  %td= display_column_data(@columns[1], appraisal, :name)
                  %td
                    = display_column_data do
                      - @columns[2].nil? ? link_to(appraisal.customer.account_name, [@organization, appraisal.customer]) : appraisal.field_value(@columns[2].template_field_id)
                  %td= t("status.#{appraisal.status}")
                  %td= display_column_data(@columns[4], appraisal, :unit)
                  %td= display_column_data(@columns[5], appraisal, :created_at)
                  %td{:style => "display: none"}

:javascript
  document.addEventListener("DOMContentLoaded", function(event) {
    $('select').val("#{params[:status] ? params[:status] : 'any'}").change();
  });