:sass
  body.print
    .hero-shot
      background-image: url(#{gsub_https(get_appraisal_entry_value_by_name(@appraisal, "hero_shot"))})
      width: 315px !important
%header
  .clearfix.head
    .col-sm-5
      .hero-shot
        = pdf_image_tag get_appraisal_entry_value_by_name(@appraisal, "hero_shot"), class: "img-responsive"
    .col-sm-7.model
      %h1
        #{get_appraisal_entry_value_by_name(@appraisal, "year")}
        &nbsp;
        #{get_appraisal_entry_value_by_name(@appraisal, "make")}
      %h2
        #{get_appraisal_entry_value_by_name(@appraisal, "model")}
  .clearfix.head-section
    .col-sm-5
    .col-sm-7
      %table#head-data
        %tr
          %td.name.bold Unit No.
          %td.value= @appraisal.unit
        %tr
          %td.bold VIN
          %td= get_appraisal_entry_value_by_name(@appraisal, "serial_no")
        %tr
          %td.bold Mileage
          %td= get_appraisal_entry_value_by_name(@appraisal, "mileage")
        %tr
          %td.bold Number
          %td= @appraisal.number
%main
  %section
    - price_fields = @template.print_template_blocks.numeric.by_page(0)
    %table#form-value
      %tr.values
        - price_fields.each_with_index do |price_field, i|
          %td{class: "#{i == 1 ? 'black' : ''}"}= number_to_currency get_appraisal_entry_value(@appraisal, price_field.blockable_id)
      %tr
        - price_fields.each_with_index do |price_field, i|
          %td{class: "#{i == 1 ? 'highlight' : ''}"}= get_appraisal_web_label(@appraisal, price_field.blockable_id)

  %section
    %table#disposition.title_table
      %tr.title
        %td{:colspan => 4} Disposition
      %tr
        %td.bold Trade Conditions
        %td{:colspan => 3}= get_appraisal_entry_value_by_name(@appraisal, "trade_conditions")
      %tr.odd
        %td.bold Good Until
        %td= get_appraisal_entry_value_by_name(@appraisal, "good_until")
        %td.bold Expected Acceptance
        %td= get_appraisal_entry_value_by_name(@appraisal, "exp_date")

  %section
    %table#organization
      %tr
        %td.name
          %h3= @appraisal.organization.name
          %h5= @appraisal.organization.full_address
          %td.logo.text-center= pdf_image_tag @appraisal.organization.company_logo.url

  %section
    %table#customer.title_table
      %tr.title
        %td{:colspan => 2} Customer
      %tr
        %td= @appraisal.customer.account_name
        %td= @appraisal.customer.business_phone
      %tr.odd
        %td= @appraisal.customer.name
        %td= @appraisal.customer.email

  %section
    .grey-container.clearfix
      .col-sm-6
        %h3 &nbsp;#{@rep.try(:name)}
        %i Sales Representative
      .col-sm-6
        .email
          %span.glyphicon.glyphicon-envelope
          #{@rep.try(:email)}

  %section
    .grey-container.clearfix
      .col-sm-6
        %h3 &nbsp;#{@sales_manager.try(:name)}
        %i Managers Name
      .col-sm-6
        .signature
          Signature Line

  .page-break
  %br
  - @blocks.each_with_index do |block, i|
    - if block.blockable_type == 'divider'
      .page-break
      - next

    %section
      - hidden_fields = block.properties["hidden_fields"]
      - hidden_fields = hidden_fields ? hidden_fields.split(",") : []
      - appraisal_category = @appraisal_categories.select{|ac| ac.id == block.blockable_id}.first
      - if appraisal_category.present?
        %table.categories
          %tr.title
            %th=appraisal_category.label
            %td.value
          - appraisal_category.template_fields.non_photos.non_text_areas.weighted.each do |field|
            - next if hidden_fields.include?(field.id.to_s)
            %tr.fields
              %th= field.web_label
              %td.value= @appraisal.field_readable_value(field)


  %section
    %table.title_table
      %tr.title
        %td Comments & Observation
      %tr.odd
        %td= get_appraisal_entry_value_by_name(@appraisal, "appraisal_comment")

%footer.clearfix
  = @organization.internal_trade_policy
