- breadcrumbs << [@organization.name, organization_appraisals_path(@organization)]
- breadcrumbs << ["Appraisals", organization_appraisals_path(@organization)]
- breadcrumbs << ["Archived", archived_organization_appraisals_path(@organization)]

= form_tag bulk_archive_organization_appraisals_path(@organization), method: :put do |f|
  %h2
    #{@organization.name} - Archived Appraisals
    = hidden_field_tag :unarchive, value: true
    %button.btn.btn-primary.pull-right Un-Archive
  = render 'appraisals/table', appraisals: @appraisals
