- breadcrumbs << [@organization.name, organization_appraisals_path(@organization)]
- breadcrumbs << ["Appraisals", organization_appraisals_path(@organization)]
- if filtered_customer
  - breadcrumbs << [filtered_customer.account_name, organization_appraisals_path(@organization, customer_id: params[:customer_id])]

= form_tag bulk_archive_organization_appraisals_path(@organization), method: :put do |f|
  %h2
    #{@organization.name} - Appraisals
    - if filtered_customer
      \- #{filtered_customer.account_name}
    - elsif params[:status]
      \- &nbsp;
      %span.filtered-status= t("status.#{params[:status]}")
    - elsif params[:member_id]
      \- #{filtered_member.name}

    %button.btn.btn-warning.pull-right Archive

    .dropdown.pull-right.mgn-r-5
      %button.btn.btn-primary.dropdown-toggle{data: { toggle: "dropdown" } }
        Create New Appraisal
        %span.caret
      %ul.dropdown-menu
        - policy_scope(current_organization.appraisal_templates).each do |template|
          %li
            = link_to template.label,
                      new_organization_appraisal_path(@organization,
                      appraisal_template_id: template.id)

  = render 'appraisals/table', appraisals: @appraisals
