.row#discussions-container
  %h2
    %span
      Valuation Discussions
    = link_to "Create a new Discussion", "#discussion-creation-modal", data: { toggle: "modal" }, class: "btn btn-default add-discussion-btn"
  %table#discussions
    - @discussions.each do |discussion|
      = render "discussions/discussion", discussion: discussion
  #discussion-comments-container
