= f.input field.to_sym, required: false, label: field.label,
          as: :check_boxes,
          collection: field.choices.split("\r\n"),
          checked: appraisal.field_value(field.id),
          input_html: { name: "#{custom_field_name(field.id)}[]" }
