= f.input field.to_sym, required: field.required?, label: field.label,
          input_html: { value: appraisal.field_value(field.id),
                        name: custom_field_name(field.id),
                        class: "bootstrap-datepicker",
                        "data-dateformat" => "mm/dd/yy" }
