= f.input field.to_sym, required: false, label: field.label,
          as: :select, include_blank: true,
          collection: field.choices.split("\r\n"),
          selected: appraisal.field_value(field.id),
          input_html: { name: custom_field_name(field.id) }
