= f.input field.to_sym, as: :text, required: false, label: field.label,
          input_html: { value: appraisal.field_value(field.id),
                        name: custom_field_name(field.id),
                        maxlength: 300 }
