- appraisal_templates = f.object.appraisal_templates.map(&:id)
%br
%h3 Appraisal Templates
%table.index_table.datatable
  %thead
    %tr
      %th
      %th ID
      %th Name
      %th Label
      %th Agent
  %tbody
    - AppraisalTemplate.all.each do |appraisal_template|
      %tr
        %td
          = check_box_tag 'organization[appraisal_template_ids][]', appraisal_template.id, appraisal_templates.include?(appraisal_template.id)
        %td= appraisal_template.id
        %td= appraisal_template.name
        %td= appraisal_template.label
        %td= appraisal_template.agent? ? "Yes" : "No"