- template_field_ids = TemplateField.has_access_control.map(&:id)
- organization_field_ids = organization_fields.map(&:id)
- existing_roles_view = FieldAccessControl.where(organization_id: f.object.id).try(:pluck,:template_field_id, :view_permission)
- existing_roles_edit = FieldAccessControl.where(organization_id: f.object.id).try(:pluck,:template_field_id, :edit_permission)
- existing_roles_view = Hash[existing_roles_view.map{|u|[u[0], u[1]]}]
- existing_roles_edit = Hash[existing_roles_edit.map{|u|[u[0], u[1]]}]
%br
%h3 Template Fields
%table.index_table.datatable
  %thead
    %tr
      %th Field ID
      %th Name
      %th View
      %th Edit
  %tbody
    - TemplateField.has_access_control.each do |template_field|

      %tr
        %td= template_field.name
        %td= template_field.label
        %td
          = select_tag "view_permission[#{template_field.id}]", options_for_select(Role.staff.collect {|r| ["#{r.name} - #{r.profile}", r.id]}, existing_roles_view[template_field.id].try(:split, ",") || []), multiple: true
        %td
          = select_tag "edit_permission[#{template_field.id}]", options_for_select(Role.staff.collect {|r| ["#{r.name} - #{r.profile}", r.id]}, existing_roles_edit[template_field.id].try(:split, ",") || []), multiple: true