@import "bootstrap";
@import "pdf";

body.print {  
  header {
    .head {
      padding-top: 30px;
      background-color: black;  
      .hero-shot {
        width: 325px;
        min-height: 160px;
        position: absolute;
        margin: 5px 0 0 20px;
        background-color: white;
        border: 10px solid white;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        overflow: hidden;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        img {
          visibility: hidden;
        }
      }
      .model {
        text-align:center;
        color: white;
        h2 {
          margin: 10px 0 20px 0;
        }
      }
    }
    .head-section {
      padding: 0 15px;
    }
    #head-data {
      width: 100%;
      td {
        padding: 7px 0 7px 20px;
        border: 2px solid white;
        background-color: #EBEBEB;
        &.name {
          width: 40%;
        }
        &.value {
          width: 60%;
        }
      }
    }
  }
  main {
    padding: 20px 30px;
    width: 100%;
    section {
      margin: 15px 0;
    }
    #form-value {
      width: 100%;
      td {
        width: 16%;
        height: 31px;
        padding: 7px 3px;
        border: 3px solid white;
        background-color: #EBEBEB;
        text-align: center;
        font-weight: bold;
        line-height: 16px;
        &.highlight {
          background-color: #ACACAC;
        }
      }
      .values td {
        background-color: #555555;
        color: white;
        &.black {
          background-color: black;
        }
      }
    }
    .title_table {
      width: 100%;
      td {
        padding: 7px 10px;
      }
      tr {
        &.title {
          td {
            padding: 3px 5px;
            background-color: black;
            color: white;
            font-weight: bold;
          }
        }
        &.odd {
          background-color: #EBEBEB;
        }
      }
    }
    #disposition {
      td {
        width: 25%;
      }
    }
    #organization {
      width: 100%;
      border: 2px solid grey;
      padding-bottom: 20px;
      .name {
        width: 60%;
        text-align: center;
      }
      .logo {
        width: 40%;
        text-align: center;
        padding: 20px;
        img {
          max-height: 60px;
          max-width: 100%;
        }
      }
    }
    #customer {
      td {
        width: 50%;
      }
    }
    .grey-container {
      width: 100%;
      padding: 15px 20px;
      background-color: #EBEBEB;
      h3 {
        margin: 0;
      }
      .email {
        background-color: black;
        color: white;
        display: inline-block;
        padding: 4px 15px;
        margin-top: 10px;
        float: right;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        min-width: 200px;
      }
      .signature {
        font-weight: bold;
        display: inline-block;
        width: 80%;
        text-align: center;
        float: right;
        margin-top: 30px;
        border-top: 1px solid black;
      }
    }
    .categories {
      width: 100%;
      border-collapse: separate;
      border-spacing: 5px 1px;
      tr:nth-child(even) { background-color: white; }
      tr:nth-child(odd) { background-color: #EBEBEB; }
      tr.title {
        th {
          width: 30%;
          background-color: black;
          color: white;
        }
        td {
          width: 67%;
          background-color: #464646;
        }
        th, td {
          padding: 3px 5px;
        }
      }
      tr.fields {
        th, td {
          padding: 7px 0 7px 20px;
        }
      }
    }
  }
  footer {
    padding: 10px 30px;
    background-color: black;
    color: white;
  }
  .bold {
    font-weight: bold;
  }
}

