.row
  .col-xs-12
    %span.txt-color-white
      Snap Trade Pro is "Software as a Service" built in Alberta, New York, Kansas, Pennsylvania & British Columbia
      %br
      Copyright © 2013 - 2015.
      = link_to "Inbound Dealer Services Inc.", "http://www.inbounddealer.com", target: "_blank"
