.login-info
  %span.dropdown
    %a.dropdown-toggle{href: "#", data: { toggle: "dropdown" }}
      /%img.online{:alt => "me", :src => "images/theme/img/avatars/sunny.png"}/
      %span
        = current_user.name
      %i.fa.fa-angle-down
    %ul.dropdown-menu
      - if current_user.try(:admin?)
        %li= link_to "Admin Panel", admin_root_path
        %li= link_to "Print Layouts", print_templates_path
      - if current_organization.admin?(current_user) || current_organization.owner?(current_user)
        %li= link_to 'Org Setting', organization_path(current_organization)
      %li= link_to "Sign out", destroy_user_session_path

%nav
  %ul
    %li
      = link_to root_path, title: "Dashboard" do
        %i.fa.fa-lg.fa-fw.fa-home
        %span.menu-item-parent Dashboard

    %li#appraisal-link
      = link_to "#", class: "hide-collapse" do
        %i.fa.fa-lg.fa-fw.fa-camera
        %span.menu-item-parent Appraisals
      %ul{style: "display: block;"}
        %li
          %a{:href => "#"}
            %i.fa.fa-lg.fa-fw.fa-user
            By Customer
          %ul
            - @organization.customers.order(:account_name).each do |customer|
              %li= link_to customer.account_name, organization_appraisals_path(@organization, customer_id: customer.id)

        %li
          %a{:href => "#"}
            %i.fa.fa-lg.fa-fw.fa-user
            By Member
          %ul
            - @organization.users.order(:first_name, :last_name).each do |member|
              %li= link_to member.name, organization_appraisals_path(@organization, member_id: member.id)
        %li
          %a{:href => "#"}
            %i.fa.fa-lg.fa-fw.fa-retweet
            By Status
          %ul
            %li
              - Appraisal.status.options.each do |name, value|
                = link_to "&nbsp;&nbsp; #{name}".html_safe, organization_appraisals_path(@organization, status: value)

        %li
          = link_to archived_organization_appraisals_path(@organization) do
            %i.fa.fa-lg.fa-fw.fa-archive
            Archived

    %li#customer-link
      = link_to organization_customers_path(@organization), class: "hide-collapse" do
        %i.fa.fa-lg.fa-fw.fa-user
        %span.menu-item-parent Customers
      %ul{style: "display: block;"}
        %li
          = link_to archived_organization_customers_path(@organization) do
            %i.fa.fa-lg.fa-fw.fa-archive
            Archived

    %li
      %a.disabled
        %i.fa.fa-lg.fa-fw.fa-truck
        %span.menu-item-parent Inventory

    %li
      %a.disabled
        %i.fa.fa-lg.fa-fw.fa-mobile-phone
        %span.menu-item-parent Agents

    %li
      %a{:href => "#"}
        %i.fa.fa-lg.fa-fw.fa-bar-chart
        %span.menu-item-parent Reports
      %ul{style: "display: none;"}
        %li
          = link_to inventory_commitments_reports_path do
            Inventory Commitments

    - if is_manager_or_member?
      %li
        = link_to organization_members_path(@organization) do
          %i.fa.fa-lg.fa-fw.fa-users
          %span.menu-item-parent Members

%span.minifyme{"data-action" => "minifyMenu"}
  %i.fa.fa-arrow-circle-left.hit
