#logo-group
  %span#logo
    = link_to root_path do
      = image_tag "SnapTradePro_logo_wide600px.png", alt: "Snap Trade Pro"


- if user_signed_in?
  .pull-right
    .project-context
      %br
      %span.project-selector.dropdown-toggle{"data-toggle" => "dropdown"}
        PDF
        %i.fa.fa-angle-down
      %ul.dropdown-menu
        %li
          = link_to "Create", '#', id: 'pdf_create_link'
    .project-context
      %br
      %span.project-selector.dropdown-toggle{"data-toggle" => "dropdown"}
        Web Page
        %i.fa.fa-angle-down
      - if ENV["FLAG_HEADER_COLOR"]
        %ul.dropdown-menu
          %li
            = link_to "Post", "#"
- content_for :javascript do
  :javascript
    pdf_link = "#{pdf_preview_link(@organization, @appraisal)}"
    $(function(){
      $('#pdf_create_link').click(function(){
        window.location.replace(pdf_link + "?sales_manager=" + $('#sales_manager').val() + "&rep=" + $('#rep').val());
      })
    })
