!!!
%html{:lang => "en-us"}
  %head
    %meta{:charset => "utf-8"}/
    %title Snap Trade Pro
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = favicon_link_tag "stp-favicon-2.ico"
    - unless Rails.env.test?
      %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag params[:action], media: 'all'
    = csrf_meta_tags

  %body.preview.print.smart-style-2.fixed-header.fixed-ribbon.fixed-navigation
    %header#header{ class: ("development" if ENV["FLAG_HEADER_COLOR"]) }
      = render "layouts/print_menu"
    #main.container
      = yield
    = javascript_include_tag 'application'
    - if content_for? :javascript
      = content_for :javascript
